.interesting-products {
    padding-top: 2em;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.interesting-products h2{
    padding-bottom:0.5em;
}

.interesting-products p{
    padding-bottom: 1.8em;
}

.interesting-wrapper {
    min-height: 350px;
    width: 49.5%;
    position: relative;
    background: var(--color-background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.latest-description {
    width: 50%;
    padding-left: 7em;
    padding-top: 88px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: start;
}

.latest-image{
    width: 50%;
    position: relative;
}

.latest-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15%;
}

.discounted-description {
    width: 50%;
    padding-left: 3em;
    padding-top: 88px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: start;
}

.discounted-image{
    width: 50%;
    position: relative;
}

.discounted-image img {
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15%;
}