* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #F5F5EF;
    background-color: white;
}

/*---Doni Navbar---*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F5F5EF;
    padding: 10px 3% 0px 3%;
}

.navbar ul {
    list-style-type: none;
    margin: 10px;
}

.navbar li {
    display: inline-block;
}

.navbar-links li a {
    color: #3b3b3b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 650;
}

.navbar-links li a:hover {
    color: orange;
}

.navbar-links li a:active {
    color: orange;
}

.nav-image {
    margin-right: 10px;
}


.brand {
    font-size: 2em;
    font-weight: 800;
    padding-left: 15px;
    letter-spacing: 1.8px;
    line-height: 2em;
}

.brand span {
    color: orange;
}

.brand img {
    width: 42px;
    height: 42px;
}

.navbar-icons li img {
    padding: 7px 8px;
}




/*--- Shopping cart ---- */

.shopping-cart {
    /* border: 1px solid purple;; */
    width: fit-content;
    padding: 1em 1em;
    margin: 3em auto;
}

.cart {
    width: 840px;
    display: inline-block;
    /* border: 6px solid yellow; */
}

.cart-header {
    margin-left: 1em;
    font-weight: 600;
    font-size: .8em;
}

.cart-specify {
    display: inline;
    margin-left: 150px;
}

.cart-specify span {
    margin-left: 120px;
}

.cart-products {
    margin-top: .6em;
    border-top: 2px solid rgb(245, 243, 243);
    border-bottom: 2px solid rgb(245, 243, 243);
    /* padding: 0 .4em;     */
}

.cart-table {
    /* border: green 2px solid; */
    margin-top: 3em;
    padding: 0 1em;
}

.cart-product-row {
    /* width:1000px; */

    margin: .7em 0;
    height: 100px;
    /* border: 10px solid orange;;
} */
}

.cart-product {
    /* width: 400px; */
    /* height: 150px; */
    width: fit-content;
    display: inline-block;
}

.product-image {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.product-image img {
    width: 100%;
    height: auto;
}

.cart-product-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: .4em;
}

.product-name {
    font-weight: bold;
    font-size: .9em;
}

.product-company {
    opacity: .4;
    font-size: .6em;
    margin-top: .3em;
}

.product-size {
    display: inline-block;
    margin-left: 180px;
}

.product-size select {
    padding: .5em .3em;
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    font-size: .9em;
    text-align: center;
    /* margin-left:; */
}

.product-quantity {
    display: inline-block;
    margin-right: 10px;
}


.product-quantity {
    margin-left: 6.3em;
}

.product-quantity input[type=button] {
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    width: fit-content;
}

.product-quantity input[type=text] {
    background-color: transparent;
    /* border: 1px solid blue; */
    border: none;
    width: 40px;
    text-align: center;
    font-size: 1.03em;
    font-weight: 400;
    margin: 0;
}


.product-price {
    display: inline-block;
    margin-left: 6.1em;
    font-weight: lighter;
}


.remove-product {
    margin-left: 40px;
    border: none;
    background-color: transparent;
    font-weight: lighter;
    font-size: 1.1em;
}

section {
    display: flex;
}

.cost {
    /* border: 1px solid purple; */
    width: fit-content;
    margin-left: auto;
    margin-top: 20px;

}

.subtotal {
    /* border: 1px solid orange; */

}


.shipping {
    margin-top: 20px;
    /* border: 1px solid blue;  */
}


.subtotal,
.shipping,
.total {
    text-align: center;
    width: fit-content;
    margin-left: 20px
}

.price-info {
    margin-left: 65px;
    font-weight: 600;
}

.total-text {
    font-size: 19px;
    font-weight: 900;
}

.total-price {
    font-size: 20px;
    font-weight: 900;
    margin-left: 79px;
}

.underline {
    border: 0.5px solid rgb(231, 229, 229);
    width: 240px;
    margin: 16px 0;
}


.go-back {
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    display: inline-block;
}

.go-back span {
    display: inline-block;
    font-size: 19px;
    font-weight: 900;
    margin-left: 10px;
    vertical-align: middle;
}

.go-back img {
    display: inline-block;
    border: 1px solid #fff;
    vertical-align: middle;
}