:root {
    --color-primary: #ffae00;
    --color-text: #303030;
    --color-card-background: #f5f6f8;
}

.products h2,
h3,
p {
    color: var(--color-text);
    /* font-family: 'Roboto'; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; temporary change since I'm working on firefox */
}

.featured-products h2::before {
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #595959;
}

.featured-products h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #595959;
}

.featured-products h2 {
    position: relative;
    margin: 0 auto;
    max-width: 360px;
}

.product-navbar {
    list-style: none;
    display: flex;
}

.product-navbar li {
    padding: 0.2em 1em;
}

.product-navbar li:not(:last-child) {
    border-right: 1px solid #888;
}

.product {
    display: block;
    width: 253px;
    padding: 0 1%;
    float: left;
}

.featured-products {
    max-width: 61%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.product-cards {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-cards span {
    color: grey;
    text-decoration: line-through;
}

/* .image-overlay a {
    color: white;
} */

.product-description {
    padding-top: 0.8em;
}

.product-description a {
    color: var(--color-text);
}

.price {
    font-size: smaller;
    padding-top: 0.5em;
    padding-bottom: 1.5em;

}

.load-more {
    max-width: 61%;
    margin: 2em auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-wrapper {
    background: var(--color-card-background);
    height: 335px;
    width: 100%;
    /* float: left; */
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.product:hover .product-description a {
    color: var(--color-primary);
    transition: color 0.15s;
}

.image-overlay h3 {
    padding: 0.5em 0.5em;
    border: 1px solid white;
    margin: 1em;
    font-size: 1em;
}

.image-overlay button {
    padding: 0.5em 0.5em;
    border: 1px solid white;
    margin: 1em;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}

.product-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20%;
}