/*-----------BLOGS----------------------*/


.blog-sec * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


.title {
    margin: 4em auto;
    width: fit-content;
}

.title h4 {
    display: inline-block;
    vertical-align: middle;
}

.title h4 span {
    color: #ffae00;
}


.tline {
    display: inline-block;
    vertical-align: middle;
    background-color: #303030;
    border-bottom: 3px solid #303030;
    opacity: 0.8;
    width: 60px;
    height: 2px;
}


.blog-sec {
    /* padding: 5em 12em 3em 12em; */
    width: fit-content;
    margin: 0 auto;
}

.blog-sec h4 {
    width: fit-content;
    color: #303030;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.9px;
}

.blogs {
    margin-top: 5em;
}

.blog {
    margin-right: 10px;
    display: inline-block;
}

.bcontent {
    max-width: 343px;
}

.blog .date {
    color: #7b7b7b;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-top: 1em;
}

.blog p {
    color: #303030;
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.45;
    margin: .5em 0;
}

.blog button {
    color: #f5f5ef;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.14px;
    text-align: cetner;
    text-transform: uppercase;
    border: hidden;
    background-color: #303030;
    padding: 1em 1em;
    margin-top: .9em;
    transition: all .5s;
}

.blog button:hover {
    outline: none;
    background-color: #ffae00;
    cursor: pointer;
}


.carousel {
    margin: 2em auto;
    width: fit-content;
}

.dot {
    display: inline-block;
    width: .7em;
    height: .7em;
    border-radius: 0.35em;
    background-color: #5d5d5d;
    opacity: 0.25;
    margin: 3px;
}

.dot:hover,
.dot:focus {
    opacity: 1;
    background-color: #8f8f8f;
}

/*blog popup*/

.popup button {
    background: transparent;
    outline: none;
    display: inline-block;
    vertical-align: top;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    display: none;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);   
    background: #fff;
    width: 50%;
    height: 700px;
    overflow-y: scroll;
    text-align: justify;
    z-index: 2;
    padding: 2em;
}

.popup-content button{
    display: block;
    margin-left: auto;
}
.popup-content button img{
    width: 20px;
    transition:  all .4s;
}

.popup-content button img:hover,
.popup-content button img:hover{
    width: 30px;
    cursor: pointer;
}
.popup-content .pic {
    display: block;
    width: fit-content;
    object-fit: cover;
}

.popup-content .date {
    margin-top: 1em;
    width: fit-content;
    border-bottom: 2px solid orange;
}

.popup-content h1 {
    margin-top: 1em;
}

.popup-content p {
    margin-top: .5em;
    font-size: 1.1em;
    letter-spacing: .9px;
}

.popup.active .overlay{
    display: block ;
}

.popup.active .popup-content{
    transition: all .5s;
    transform: translate(-50%, -50%) scale(1);  
}

/*-------------------------------------CARDS------------------------------------------------------------*/
.cardsec * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


.cardsec {
    border: 2px solid green;
    padding: 8em 12em;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 2px solid #dfdfdf;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em 2.5em;
}

.card .content {
    margin-left: 100px;
}

.card h6 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    line-height: 24px;
    color: #787878;
    margin-top: 1px;
}

.card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px;
    color: #787878;

}

/*images */
.cash img {
    width: 64px;
    height: 52px;
}

.support img {
    width: 53px;
    height: 51px;
}

.shipping img {
    width: 50px;
    height: 50px;
}

.card .content {
    padding: auto;
    margin-left: 10px;
    margin-top: 6px;
}

.card:hover {
    border-color: #f6e4bc;
}

.card:hover h6,
.card:hover p {
    color: #fac03d;
}

/*------------NEWS LETTER-----------------------*/
.newsletter {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto';
    background-color: #000000;
    background-image: url("images/modern-minimalist-bathroom.png");
    padding: 8em 12em;
}


/*fonts*/
.news h4 {
    color: #f5f5ef;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.9px;
    text-align: center;
}

.news p {
    margin: 1.5em 10em 0 10em;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
}

.email {
    background-color: #f5f5ef;
}

/*form - email and subscribe*/
form {
    margin: 2.5em auto;
    width: fit-content;
}


input[type=email] {
    background-color: #f5f5f5;
    padding: 1em 8em 1em 1em;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.35px;
    border: hidden;
    border-radius: 7px 0 0px 7px;

}

input[type=email]:hover,
input[type=email]:focus {
    outline: none;
}

input[type=submit] {
    background-color: #303030;
    padding: 1em 3em;
    color: #f5f5ef;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.14px;
    margin-left: -2px;
    border: hidden;
    border-radius: 0px 7px 7px 0px;
}

/*---------------------Footer-----------------------------------*/
footer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto';
}


footer {
    padding: 4.5em 12em;
    background-color: #303030;
}


footer a {
    text-decoration: none;
}

footer p {
    margin-top: .7em;
}

/*about us and contact*/
.company-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-info h4 {
    font-size: 18px;
    font-weight: 700;
    color: #f5f5ef;
}

.company-info li {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.93;
}

.about-us span {
    margin-left: .8em;
}

.contact-list ul li a span {
    transition: all 0.3s ease;
}

.contact-list ul li a span:hover {
    color: #ffae00;
    margin-left: 7px;
}

.contact-list img {
    position: relative;
    top: 2.4px;
    left: 1px;
}

/*Coloumns */

.cols {
    display: flex;
    justify-content: space-between;
}

.cols li {
    margin-top: -.3em;
}


.foot-col {
    margin: 0 2.4em;
}


footer ul {
    text-decoration: none;
    margin-top: 1.2em;
    list-style: none;
}

.foot-col ul li a {
    transition: all 0.18s ease;
}

.foot-col ul li a:hover {
    color: #ffae00;
    opacity: 1;
    padding-left: 7px;
}


/* Social Networks */

.social-network {
    margin: 0.8em 0;
}

.social-network .images {
    margin-top: 2em;
}

.social-network .images img {
    transition: transform .15s
}

.social-network .images img:hover {
    transform: scale(1.5);
}

.social-network .images a {
    margin-right: .5em;
}

/*Copyrights*/
.copyrights {
    display: flex;
    justify-content: space-between;
    margin-top: 7em;
}

.copyrights span {
    font-weight: 400;
    color: #858585;
}


footer li {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}


hr {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #f5f5ef;
    opacity: 0.1;
    height: 1px;
    margin: 3em 0;
}


.payments img {
    margin-left: 7px;
    transition: transform .16s;
}

.payments img:hover {
    transform: scale(1.5);
}