:root{
    --color-primary:#ffae00;
    --color-text:#303030;
    --color-card-background:#f5f6f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto';
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*temporary change since I'm working on firefox */
}

a {
    text-decoration: none;
}

span {
    color: var(--color-primary);
}

button {
    color: white;
    background-color: var(--color-text);
    border: none;
    padding: 1em 2em;
}