body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}



body {
    padding: 1em;
}

/*Log In / Sign Up Page*/

/*-------- Title -----*/
.for-title {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

.title h4 {
    display: inline;
    vertical-align: middle;
    margin: 0 .8em;
    color: #303030;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.9px;
}

.title h4 span {
    color: #ffae00;
}

.tline {
    display: inline-block;
    vertical-align: middle;
    background-color: #303030;
    border-bottom: 3px solid #303030;
    opacity: 0.8;
    width: 60px;
}

.close {
    margin-right: 50px;
}

.close img {
    transition: width .3s;
}

.close img:hover {
    width: 20px;
}

/*--- Log in form ----------------- */
.log-in-card {
    width: 60%;
    margin: 5em auto;
}

/*sign in sign up*/
.sign-in-container {
    margin: 0 auto;
    width: fit-content;
}

.sign-in-container a {
    outline: none;
}

.sign-in-container a+a {
    margin-left: 50px;
}

.sign-in,
.sign-up {
    display: inline-block;
    color: rgb(144, 144, 151);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.9px;
    text-decoration: none;
    transition: all .5s;
}

/*underline*/
.sign-in::after,
.sign-up::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: #ffae00;
    transition: width .5s;
}

.sign-in-container a:hover {
    color: #303030;
    cursor: pointer;
}

.sign-in-container a:hover::after {
    width: 100%;
    transition: width .5s;
}

.active {
    color: #303030;
    font-weight: 1px;
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    background: #ffae00;
}

/*----- - UserName and password -------*/
.log-in-card form {
    margin: 5em auto;
    width: fit-content;
}

.user-row * {
    display: block;
}

.user-row label {
    font-size: 14px;
    color: #909097;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    display: block;
    cursor: text;
}

.user-row input[type=text],
.user-row input[type=password] {
    outline: none;
    border: none;
    width: 400px;
    border-bottom: 3px solid #FFD580;
    margin-top: 10px;
    transition: all 0.45s ease;
    font-size: 18px;
}

.user-row+.user-row {
    margin-top: 3.4em;
}

.user-input:hover~#user-label {
    color: pink;
    ;
}

.user-row input[type=text]:hover,
.user-row input[type=text]:focus,
.user-row input[type=password]:hover,
.user-row input[type=password]:focus {
    border: none;
    border-bottom: 3px solid orange;
}


/*remember me check box*/
.user-remember {
    margin: 2em 0;
}

.user-remember span {
    font-size: 18px;
    color: #909097;
}

/* --- Sign in Button --- */
.log-in-card button {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.9px;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to left, #ff713b, #ffa51d);
    color: white;
    border-radius: 8px;
}


/*Forgot Password?*/
.forgot-password {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    width: fit-content;
    border-bottom: 3px solid #FFD580;
    margin: 3em auto;
    transition: all .2s;
}

.forgot-password:hover {
    padding-bottom: .05em;
    border-color: orange;
}

.forgot-password-form p {
    width: 400px;
}

.forgot-password-form button {
    margin-top: 2.4em;
}

/* ------ Sign up form --------*/

.gender-selection,
.birthday-select {
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #FFD580;
    font-size: 15px;
    width: 100%;
    padding: .3em;
    padding-left: 0;
    transition: all .3s;
}

.gender-selection:hover,
.gender-selection:focus,
.birthday-select:hover,
.birthday-select:focus {
    outline: none;
    border-color: orange;
}

.sign-up-form button {
    margin-top: 2.3em;
}


/*-- Reset Password Green Email -- */



/*Verification email succesful!*/

.forgot-password-form img{
    display: block;
    margin: 0 auto;
}

.forgot-password-form h2{
    text-align: center;
    margin-top:1em;
    text-transform: uppercase;
    font-size: 30px;
}

/* Succesful email sent*/

.successful-email{
    border-radius:20px;
    padding: 1.4em;
}
.successful-email > img{
    display: block;
    margin: 0 auto;
}

.successful-email > p {
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-color: green;
    margin-top: 1em;
    font-size: 18px;
    padding: .5em;
    border-radius: 10px;
    line-height: 1.5em;
}

.green-message {
    background-color: rgb(144, 238, 144);
    border-radius: 10px;
    padding: .5em;
    width: 350px;   
    margin: 0 auto;
    margin-top: 2em;
}

.green-message img {
    vertical-align: middle;
    margin-left: 10px;
}

.green-message p {
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-left: 5px;
    width: 300px;
    text-align: center;
}
