header{
    min-height: 100px;
    background-color: #F5F5EF;
}

.intro h2 {
    color: var(--color-text);
}

.intro h2::before {
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: -25%;
    background: #595959;
}

.intro h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: -25%;
    background: #595959;
}

.title {
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
    /* padding: auto; */
    /* min-height: 20px; */
    /* max-width: 50%; */
}

.intro h2 {
    position: absolute;
    left:50%;
    transform: translate(-50%,0%);
}

.category {
    display: block;
    width: 253px;
    padding: 100px 1%;
    transition: padding 0.15s ease-in;
}

.category:hover {
    padding: 80px 1%;
}

.product-categories {
    max-width: 100%;
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-title {
    padding-top: 0.8em;
}

.category-image {
    background: var(--color-card-background);
    height: 253px;
    width: 100%;
    /* float: left; */
    position: relative;
}

.category h4 {
    color:var(--color-text);
    transition: color 0.15s ease-in-out;
}

.category:hover h4 {
    color:var(--color-primary);
}

.product-categories img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20%;
}

.product-marketing {
    padding-top: 4em;
}

.spacer {
    min-height: 6em;
}

.marketing {
    min-height: 500px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
}

.marketing-picture {
    min-width:50%;
    max-width: 50%;
    position: relative;
}

.marketing-picture img {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1.5,1.5) translate(-33.3%,-33.3%);
}

.marketing-description {
    padding: 6em;
    min-width: 50%;
}

.marketing-description h3{
    font-size: xx-large;
    padding-bottom: 1em;
}

.marketing-description p{
    font-size: larger;
}

.title h4 {
    width: fit-content;
    color: #303030;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.9px;
}